@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic&subset=latin,latin-ext");

@media screen {
  *,
  *:after,
  *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
* {
  margin: auto;
  padding: auto;
}
* {
  margin: 0;
  padding: 0;
}
.wrap {
  background: #b71c1c;

  width: 100vw;
  height: auto;
  top: 0;
  min-height: 100vh;
  overflow-y: scroll;
}

h2 {
  color: #e0e0e0;
  font-size: 40px;
  font-weight: lighter;
  background: #464646;
  margin: auto;
  font-family: montserrat;
  padding: 0px;
  text-align: center;
}

div {
  font-family: Montserrat;
}

h5 {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 550;
  margin-top: 2%;
}

.readmorebutton {
  background-color: rgba(0, 0, 0, 0);
  padding: 15px, 32px;
  height: 36px;
  width: 100px;
  border: 0px;
  margin-top: 5%;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  color: #d66d5f;
  text-align: center;
  align-content: center;
  display: inline-block;
  font-size: 16px;
}

.centercard {
  position: fixed;
  background: white;
  width: 80%;
  max-width:600px;
  height: 40%;
  border-radius: 2px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  box-shadow: -2px 2px 5px rgba(00, 00, 00, 0.4);
  z-index: 0;
  color: black;
  padding:10%;
}

a:hover {
  color: #00f;
}

.createcharactercard {
  margin:5%;
  width: 90%;
  background: #ffffff;
  padding-top: 7%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 4px;
  z-index: 0;
}

.createcharactercard > heading {
  font-size: 18px;
  color: black;
  font-weight: 550;
}
.createcharactercard > body {
  color: #000000;
  background: white;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  color: black;
  z-index: 0;
}

.buttonper {
  background: #2f3e9e;
  border: 0px solid black;
  color: white;
  height: 35px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  margin: 3%;
  text-decoration: none;
  font-size: 14px;
}
