.fixedImg {
  width: 22px;
  height: 22px;
}
.footerbar {
  height: 60px;
  background-color: #434343;
  position: fixed;
  width: 100%;
  z-index: 9999;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footermenu {
  width: 100%;
  overflow: hidden;
}
.footermenu li {
  list-style: none;
}
.footermenu a {
  text-decoration: none;
  text-align: center;

  display: inline-block;
  height: 25px;
  width: 20%;
  color: gray;
  font-weight: bolder;
}
/* ea315b */
.footermenu a:hover {
  background: #d66d5f;
  color: white;
  padding-top: 17px;
  height: 60px;
}
.auth {
  margin: 10px;
}
.auth .facebook {
  background: #4b64b1;
  color: white;
  margin: 30px auto auto auto;
  padding: 0px 0;
}
.auth form {
  margin-top: 30px;
  text-align: left;
  width: 90%;
}
.auth,
.auth form {
  background: #ecd641;
}
.auth input {
  width: 100%;
  margin-top: 5px;
}
.auth input[type="submit"] {
  margin: 0;
  background: #ccc;
  padding: 20px 0;
  color: black;
}
.auth label {
  display: block;
  margin-top: 10px;
}
.logOut {
  text-decoration: none;
  position: absolute;
  background: #ecd641;
  color: #3e496b;
  font-weight: bolder;
  right: 20;
  top: 10;
  padding: 3px;
}
